alembic==1.4.3
asgiref==3.2.10
autopep8==1.5.4
Babel==2.8.0
certifi==2020.11.8
click==7.1.2
Django==3.1.2
ecdsa==0.14.1
Flask==1.1.2
Flask-Cors==3.0.9
Flask-Migrate==2.5.3
Flask-Moment==0.10.0
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
forms2==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.0
Mako==1.1.3
MarkupSafe==1.1.1
psycopg2-binary==2.8.6
pyasn1==0.4.8
pycodestyle==2.6.0
python-dateutil==2.8.1
python-editor==1.0.4
python-form==0.2.3
python-jose==3.2.0
pytz==2020.1
rsa==4.6
six==1.12.0
SQLAlchemy==1.3.19
sqlparse==0.4.1
toml==0.10.1
Werkzeug==1.0.1
wrapt==1.11.1
WTForms==2.3.3
