@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

html{
    padding:0px;
    height: 100%;
    overflow: scroll;
}
body{
    padding:0px;
    width:100%;
    height: 100%;
background-color: white;
padding:0px;
margin:0px;

overflow: scroll;
}

.frame{
    width:100%;
    min-height: 100vh;
    padding: 0%;
    box-sizing: border-box;
display: grid;
}

.yellow {
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: span 2;
  background-color: #ffcc00 ;
box-sizing:border-box;
position: relative;

}

.name {
  /* border: solid green; */
font-family: 'PT Mono', monospace;
font-weight:bolder;
transform: rotate(90deg);
position: absolute;
top: 0px;
left: 10px;
font-size: 312px;
color: white;
}

.white {
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 3;
  grid-column-end: span 3;
  background-color: white;
  display: table;
  box-sizing:border-box;

}

.blue {
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 6;
  grid-column-end: 6;
  background-color: #275283 ;
}
.BioPara {
  box-sizing:border-box;
  width:600px;
  display: table-cell;
 vertical-align: middle;  
}

.BioTable{
width: 800px;
margin: 20%;
}

.bioTxt {
 font-size: 30px;
 font-family: 'PT Sans';
 color: #A8A8A8;
}
.BioTitle {
  font-family: 'PT Sans Caption';
  font-size: 45px;
  font-weight: bold;
  color: #707070;
}
